__pycache__/
*.pyc
.pytest_cache/
.coverage
coverage.xml
htmlcov/

.venv/
venv/

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/*.tfplan

.DS_Store
